@font-family: PingFangSC-Regular, PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB,
  Microsoft YaHei, '微软雅黑', Arial, sans-serif;

// color
@primary-color: #0088ff;
@default-bg-color: rgba(244, 247, 250, 1);

@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色

@font-size-base: 14px; // 主字号

@heading-color: #16181e; // 标题色
@text-color: #313541; // 主文本色
@text-color-secondary: #667587; // 次文本色

@disabled-color: rgba(0, 0, 0, 0.25); // 失效色

@border-radius-base: 2px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色

@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影
